<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>dba页面</title>
    <link rel="stylesheet" href="static/bootstrap/dist/css/bootstrap.css">
</head>
<body>
    <div class="panel panel-primary">
        <div class="panel-heading">
            <h3 class="panel-title">dba页面</h3>
        </div>
    </div>
    <h3>
        <p>欢迎[<span color="red" th:text="${user}">用户名</span>]访问dba页面！
            您的权限是：<span color="red" th:text="${role}">权限</span></p>
        <p><a href="logout">安全退出</a></p>

        <p sec:authorize="isAnonymous()">未登录显示</p>
        <p sec:authorize="isAuthenticated()">登录显示</p>
        <p sec:authorize="hasRole('ROLE_ADMIN')">权限包含ROLE_ADMIN显示</p>
        <p sec:authorize="!hasRole('ROLE_ADMIN')">权限不包含ROLE_ADMIN登录显示</p>
    </h3>
</body>
</html>